@media (max-width: 1050px) {
  footer {
    height: 60rem;
  }
  nav {
    padding: 0 2rem;
    width: 100%;
    justify-content: space-between;
    background: var(--Secondary-Background-Color);
    /* box-shadow: 0 0 10px rgb(0 0 0 / 50%); */
    overflow: hidden;
  }
  /* Remove tap highlight color on webkit-based browsers */
  body {
    -webkit-tap-highlight-color: transparent;
    /* Add alternative styles to indicate interactivity if needed */
  }
  #mainProImage {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .product-detail-section {
    width: 100%;
  }
  #closeBtn {
    position: relative;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    /* margin: 5rem 0rem 0rem 11rem; */
    color: #fff;
    top: 1rem;
    left: 1rem;
  }
  .searchedItems .filter {
    display: none;
  }
  .searchedItems {
    justify-content: center;
  }
  .searchItems {
    width: 100%;
  }
  .ProfileSection .buttonSec {
    /* background-color: red; */
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.8rem;
  }
  .cartDetails .topHeader {
    display: none;
  }
  .ProfileSection .buttonSec button {
    padding: 0.5rem;
    width: 7rem;
    border-radius: 1rem;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
    /* background-color: ; */
  }
  #mainProImage img {
    height: 30rem;
    width: 30rem;
  }
  .productModel .topTitle {
    display: none;
  }
  .productAddToCart {
    justify-content: space-between;
  }
  .productAddToCart .bnow {
    width: 27rem;
  }
  .productDetailsSection .que button {
    height: 3rem;
  }
  .productDetailsSection .que input {
    height: 3rem;
    width: 5rem;
  }
  .productDetailsSection h5 {
    font-size: 1.7rem;
  }
  .productDetailsSection h1 {
    font-size: 1.7rem;
  }
  .productDetailsSection h3 {
    margin: 1rem 0 0 0;
  }
  .productDetailsSection p {
    margin: 0;
  }
  .productDetailsSection .que h2 {
    font-size: 1.7rem;
    margin: 0 1.5rem 0 0;
    font-weight: bold;
  }
  .cartDetails .cartCardSection .mainCheckoutSection {
    height: 100vh;
    width: 100%;
    background-color: rgba(13, 18, 22, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }
  .cartDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cartDetails .cartCardSection {
    display: flex;
    background-color: var(--Secondary-Background-Color);
    padding: 2rem;
    /* margin: 0 0 2rem 0; */
    height: 85%;
    width: 100%;
    border-radius: 1rem;
    left: 0;
    top: 0;
    transform: none;
    position: relative;
    margin: 4rem 0;
  }
  #searchBox input {
    padding: 1.1rem;
    outline: none;
    border-radius: 3rem 0 0 3rem;
    border: 0.1rem solid var(--Color);
    width: 80%;
    transition: 0.3s ease all;
  }
  #searchBox button {
    padding: 1.1rem;
    border-radius: 0 3rem 3rem 0;
    border: 0.1rem solid var(--Color);
    background: var(--Color);
    width: 5rem;
  }
  #backIcon {
    font-size: 2.5rem;
    width: 5rem;
    /* background: red; */
    display: none;
  }
  .searchBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #shoppingBag {
    font-size: 3rem;
    margin-left: 2rem;
  }
  .productHeighlight .heighlights .productDetails h1 {
    color: var(--Color);
    font-size: 2.4rem;
  }
  .productHeighlight .heighlights .productDetails b {
    color: var(--Color);
  }
  .productHeighlight .heighlights .productDetails button {
    border: 0.1rem solid var(--Color);
    background: var(--Color);
  }
  .hidden {
    display: flex;
    border: none;
  }
 
  nav .secondory-nav-section {
    right: -100rem;
    position: fixed;
    background: var(--Secondary-Background-Color);
    height: 100vh;
    width: 50rem;
    top: 0;
    z-index: 999;
    overflow-y: scroll;
    transition: 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  nav .secondory-nav-section::-webkit-scrollbar {
    display: none;
  }
  nav .formSection {
    flex-direction: column;
    justify-content: inherit;
  }
  nav .otherSection .MainUl {
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* .productHeighlight{
    padding: 1rem;
    background: linear-gradient(45deg,#5CF0F8,#ECDDFE);
  } */
  .productHeighlight .heighlights .productDetails p {
    color: var(--Text-color);
    font-weight: var(--Font-Weight);
    display: none;
  }
  .productHeighlight .heighlights .imageOfProduct img{
    height: 30rem;
    width: 30rem;
  }
  nav .formSection h3.topHeading {
    font-size: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
      url("/image/nav.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem 3rem 1rem;
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 3rem;
  }
  nav .moreItems {
    position: relative;
    top: 0;
    right: 0;
    width: 95%;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    /* background: red; */
  }
  #menuSectionOnClick{
    display: none;
  }

  nav .formSection form input {
    width: 80%;
    font-size: 2rem;
  }
  nav .formSection form button {
    width: 20%;
    font-size: 2rem;
  }
  nav .formSection form {
    display: none;
  }
  nav .formSection span {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 2rem;
  }
  nav .otherSection {
    margin: 2rem auto;
    width: 95%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-top: 0.1rem solid #445;
  }
  nav .otherSection ul li.li {
    justify-content: left;
    width: 95%;
    font-size: 1.9rem;
    padding: 1rem 1.5rem;
    margin: .5rem;
    background: var(--Background-Color);
    border-radius: 1rem;
    color: #101010;
  }
  #imgProfile{
    display: none;
  }
  .profile-section{
    display: none;
  }
  .dispHid{
    display: none;
  }
  .profile-section .details-profile-section span{
    display: none;
  }
  .logoutButtonMobile{
    width: 100%;
  }
  .logoutButtonMobile button{
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    margin: 1rem 0;
    background: var(--Color);
    color: #fff;
    cursor: pointer;
  }
  nav .formSection .topHeading span {
    font-size: 3rem;
  }
  nav .formSection .top-1 {
    justify-content: left;
    width: 85%;
  }
  #mainMenu h1 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    border-radius: 1rem;
    color: var(--Text-color);
    cursor: pointer;
  }
  .ProfileSection {
    flex-direction: column;
  }

  .ProfileSection h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: "Belanosima", sans-serif;
  }
  .ProfileSection p {
    color: #fff;
    font-weight: var(--Font-Weight);
    font-size: 1.7rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  #mainSignupBtn {
    padding: 1rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  pre {
    top: -5rem;
  }
  
  nav .moreItems li {
    font-size: 2rem;
    font-weight: var(--Font-Weight);
  }
  nav .moreItems h3 {
    border-bottom: 0.1rem dotted var(--Text-color);
  }
  .productHeighlight .heighlights {
    flex-direction: column-reverse;
    height: auto;
    width: 100%;
    padding: 2rem 0;
    border-radius: 2.5rem;
  }
  .productHeighlight .heighlights .productDetails {
    width: 90%;
    margin-bottom: 3rem;
  }
  .productHeighlight .heighlights .imageOfProduct {
    margin-bottom: 5rem;
  }
  .companyDet {
    width: 95%;
  }
  /* .Categories .grid-display .items:hover:hover p,
  div.Categories .grid-display .items:focus-within p {
    text-align: center;
  } */
  .newsLetter .subscribe h1 {
    font-size: 2.5rem;
    background: var(--Secondary-Background-Color);
    /* padding: 2rem; */
    border-radius: 4rem;
  }
  .newsLetter .subscribe {
    flex-direction: column;
    height: 25rem;
  }
  .rec-grid-disp {
    grid-template-columns: repeat(3, 1fr);
  }
  .questionAns,
  .productModel .productModelSection,
  .productModel .topTitle {
    width: 100%;
  }
  .productHeighlight .heighlights .imageOfProduct {
    left: 0;
  }
  .cartDetails .cartCardSection .checkOutSection {
    position: absolute;
    right: -50rem;
  }
  .cartDetails .cartCardSection .cartSection {
    width: 100%;
    padding: 0;
  }
  .cartDetails .cartCardSection .cartSection .mainCartCard {
    padding: 0;
    height: 60%;
  }
  .checkoutHiddenSec {
    padding: 1rem;
    background: var(--Color);
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 1rem;
    margin: 3.5rem 0;
  }
  .checkoutHiddenSec button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Secondary-Background-Color);
    color: #fff;
    margin: 0 0 0 1.5rem;
    color: var(--Text-color);
  }
  .checkoutHiddenSec h5 {
    font-size: 2.3rem;
    color: #fff;
    font-family: "Belanosima", sans-serif;
  }
  .cartDetails .cartCardSection .checkOutSection {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 85%;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 50%); */
  }
}
@media (max-width: 820px) {
  .newsLetter {
    flex-direction: column;
    width: 90%;
    height: 60rem;
  }
  .newsLetter .newsletter-image {
    height: 50%;
  }
  .newsLetter .newsletter-image img {
    height: 20rem;
    width: 20rem;
  }
  .newsLetter .subscribe {
    flex-direction: column;
    height: 50%;
    width: 90%;
  }
  .productModel .productModelSection {
    flex-direction: column;
    height: 80rem;
    box-shadow: none;
    background: transparent;
  }
  .productDetailsSection {
    width: 100%;
  }
  .productImageSection {
    height: 100%;
    width: 100%;
  }
  footer {
    height: 95rem;
  }
  footer .secondSeciton {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    margin-top: 0;
  }
  footer .secondSeciton .logoSection {
    height: 12rem;
    background: var(--Background-Color);
    width: 90%;
    margin: 4rem auto;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  footer .reportProblem {
    border: none;
  }
  .searchedItems {
    background-color: transparent;
    margin: 10rem auto;
    width: 100%;
  }
  .headBa {
    display: none;
  }
  .main-dis-for-product .sec-dis-for-product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 780px) {
  .featureContainer {
    overflow-x: scroll;
    justify-content: initial;
  }
  .featureContainer::-webkit-scrollbar-button {
    display: none;
  }
  .rec-grid-disp {
    grid-template-columns: repeat(2, 1fr);
  }
  .productModel .productModelSection {
    flex-direction: column;
    height: 80rem;
    box-shadow: none;
    background: transparent;
  }
  .productImageSection {
    height: 100%;
    width: 100%;
  }
  .productDetailsSection {
    width: 100%;
  }
  .fillProductImageSection .firstSection {
    height: 70%;
  }
  .fillProductImageSection .secondSection {
    display: flex;
  }
  .productModel .topTitle p {
    font-size: 1.2rem;
  }

  .questionAns h1 {
    font-size: 2rem;
  }
  .noMessageInfo {
    font-size: 1.5rem;
    width: 90%;
  }
  .main-dis-for-product .sec-dis-for-product-one .pro-card-row p {
    font-size: 1.2rem;
  }
  .main-dis-for-product .sec-dis-for-product-one .pro-card-row {
    height: 15rem;
  }
  .main-dis-for-product .sec-dis-for-product-one .pro-card-row .imgSec-pro img {
    width: 15rem;
  }
}
@media (max-width: 580px) {
  nav {
    padding: 0 1rem;
  }
  
  footer .reportProblem {
    border: none;
  }
  .cartDetails .cartCardSection .checkOutSection {
    width: 85%;
  }
  .productModel .topTitle {
    height: 4rem;
    overflow: hidden;
  }
  .productModel .topTitle .homeMod {
    width: 6rem;
    font-weight: bold;
  }
  .body-section h1 {
    font-size: 3.5rem;
    width: 100%;
  }
  .body-section form {
    width: 40rem;
  }

  .productModel .topTitle p {
    font-size: 1rem;
  }
  .noMessageFound {
    margin-top: 0;
  }
 
  .content {
    margin-top: 0;
  }
  
  nav .secondory-nav-section {
    width: 100%;
  }
  form.signupForm {
    height: 50rem;
  }
  .signupForm button {
    width: 85%;
    padding: 1.5rem;
  }
  footer {
    height: 95rem;
  }
  footer .secondSeciton {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    margin-top: 0;
  }
  /* footer .secondSeciton{
    height: 15rem;
  } */
  footer .secondSeciton .logoSection {
    height: 12rem;
    background: var(--Background-Color);
    width: 90%;
    margin: 4rem auto;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  footer .reportProblem button {
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
  }
  footer .reportProblem input {
    padding: 1rem;
    font-size: 1.5rem;
    width: 25rem;
  }
  footer .thirdSection ul {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .verifyBtnsSec button {
    font-size: 2rem;
  }
  .verification .otherSec button {
    width: 70%;
  }
  .verifyForm h4 {
    padding: 1rem;
  }
  .verifyForm input {
    width: 5rem;
    padding: 1.5rem;
  }
  .verifyBtnsSec button {
    width: 15rem;
  }
  .verifySection h1 {
    margin: 6rem 0 4rem 0;
  }
  .productHeighlight .heighlights .imageOfProduct {
    left: 0;
  }
  .productHeighlight .heighlights .productDetails {
    width: 100%;
  }
  .companyDet {
    width: 95%;
    height: 65rem;
    flex-direction: column;
  }
  .box h1 {
    font-size: 2rem;
    text-align: center;
  }
  .productHeighlight .heighlights .imageOfProduct .before {
    height: 15rem;
    width: 15rem;
    left: 3rem;
  }
  .productHeighlight .heighlights .imageOfProduct::before {
    right: 3rem;
  }
  .productHeighlight .heighlights .imageOfProduct .after {
    height: 7rem;
    width: 7rem;
    right: 4rem;
  }
  .Categories .grid-display {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
  }
  .Categories {
    height: auto;
    padding: 1rem 0;
  }
  .Categories .catP {
    width: 30rem;
  }
  /* .Categories .grid-display .items:hover:hover p,
  div.Categories .grid-display .items:focus-within p {
    font-size: 1.5rem;
  } */
  .newsLetter .subscribe h1 {
    font-size: 2.5rem;
    text-align: left;
    width: 80%;
    border-radius: 0;
  }
  .newsLetter .subscribe h5 {
    width: 80%;
  }
  .newsLetter .subscribe form {
    width: 80%;
  }
  .newsLetter .subscribe p {
    width: 80%;
  }
  .newsLetter .subscribe p {
    width: 80%;
    justify-content: left;
    /* background: red; */
  }
  .svgLogo {
    height: 20rem;
    width: 18rem;
    margin-top: 0;
    cursor: pointer;
  }
  #MainLogo {
    width: 12rem;
  }
  footer .secondSeciton .logoSection .svgLogo {
    height: 20rem;
    width: 18rem;
    margin-top: 0;
    cursor: pointer;
  }
  .featuresProduct .fp-p {
    width: 30rem;
  }
  .box i {
    font-size: 4rem;
  }
  .box p {
    font-size: 1.4rem;
    text-align: center;
  }
  .featureContainer::-webkit-scrollbar-button {
    display: none;
  }
  .shortDesc {
    width: 30rem;
  }
  /* .rec-grid-disp .card img {
    height: 15rem;
  } */
  .rec-grid-disp .card {
    /* height: 35rem; */
    /* margin-bottom: 3rem; */
    background-color: transparent;
    border: none;
    margin: auto;
    width: 100%;
  }
  .rec-grid-disp .card .prod-detail .title p {
    font-size: 1.2rem;
  }
  .revewStars {
    margin: 0.5rem 0;
  }

  .rec-grid-disp {
    grid-gap: 1rem;
    gap: 1rem;
  }
  .a2c-btns p {
    font-size: 1rem;
  }
  br {
    display: none;
  }
  .newsLetter .subscribe {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .rec-grid-disp .card .prod-detail {
    padding: 0;
  }
  .Categories .grid-display {
    width: 95%;
  }
  .rec-grid-disp .card:hover {
    box-shadow: none;
  }
  .productDetailsSection .que h2 {
    display: none;
  }
  .productDetailsSection {
    padding: 0;
  }
  .newsLetter .subscribe form input {
    width: 80%;
  }
  .newsLetter .subscribe form button {
    width: 20%;
  }
  .main-dis-for-product .sec-dis-for-product {
    grid-template-columns: repeat(2, 1fr);
  }
  .sortBy {
    display: none;
  }
}
@media (max-width: 390px) {
  .cartDetails .cartCardSection .cartSection .mainCartCard .cards{
    flex-direction: column;
  }
  .cartDetails .cartCardSection .cartSection .mainCartCard img{
    height: auto;
  }
  .cartDetails .cartCardSection{
    height: 100%;
  }
  .formlogin{
   background: transparent;
   width: 40rem;
  }
  .inputForm{
    background-color: #ffffff;
  }
  .body-section h1 {
    font-size: 2.5rem;
    width: 100%;
    top: 0;
  }
  .body-section form {
    width: 90%;
  }
  .body-section .btns {
    width: 20rem;
  }
  .Statring-Home-Page .header-sec button {
    background-color: transparent;
  }
  .Statring-Home-Page .header-sec button:hover {
    border: none;
  }
  .rec-grid-disp {
    /* overflow: hidden; */
    width: 100%;
    border-radius: 0.5rem;
    /* justify-content: initial; */
  }
  .rec-grid-disp .card .prod-detail {
    padding: 0;
  }
}
@media (max-width: 330px) {
  .signupSection {
    height: 85rem;
  }
  .signupOtherSec .signUp-btns {
    flex-direction: column;
    width: 90%;
    position: relative;
    top: 0rem;
    justify-content: center;
    align-items: center;
  }
  .signupOtherSec .signUp-btns button {
    width: 90%;
  }
}
@media (max-width: 162px) {
  .svgLogo {
    height: 6rem;
    width: 7rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  .Statring-Home-Page {
    overflow-y: scroll;
    height: 23rem;
  }
  .Statring-Home-Page .body-section {
    top: 2rem;
  }
  .body-section .btns button {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 17rem;
    font-size: 0.5rem;
  }
  .body-section h1 {
    font-size: 1rem;
    width: 100%;
  }
  .body-section form {
    width: 90%;
    height: 4rem;
  }
  .body-section form input {
    width: 7rem;
    padding: 1rem;
    font-size: 0.5rem;
    height: 2.2rem;
  }
  .body-section form button {
    width: 6rem;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    font-size: 0.8rem;
  }
  .body-section .btns {
    width: 10rem;
  }
  .Statring-Home-Page .header-sec button {
    background-color: transparent;
    font-size: 1rem;
    position: absolute;
    padding: 0.5rem;
    right: 0;
    width: 7rem;
  }

  .Statring-Home-Page .header-sec button:hover {
    border: none;
  }
}
